[build]
  base = "."
  publish = "dist/apps/web/browser"
  command = "npx nx run web:build"

[functions]
  directory = "apps/web/netlify/functions"
  node_bundler = "esbuild"

[[redirects]]
  from = "/api/*"
  to = "/.netlify/functions/:splat"
  status = 200

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
